@import "tailwindcss";
@import "sweetalert2/dist/sweetalert2.min.css";

body {
  @apply text-white!;
}

html {
  @apply scroll-smooth! bg-background selection:bg-primary! selection:text-white!;
}

.container {
  @apply mx-auto px-4!;
}

@theme {
  /* Colors */
  --color-primary: #0368ff;
  --color-primary-light: #5899ff;
  --color-primary-disabled: #5899ff8c;
  --color-secondary: #ff3e95;
  --color-accent: #5899ff;
  --color-background: #221c3e;
  --color-white: #f2f0ff;
  --color-white-2: #b5b3bc;
  --color-container: #0f0920;

  /* Shadows */
  --shadow-low: 2px 4px 6px rgba(0, 0, 0, 0.18);
  --shadow-medium: 2px 4px 10px rgba(0, 0, 0, 0.32);
  --shadow-high: 2px 4px 12px rgba(0, 0, 0, 0.48);
  --shadow-extra-high: 2px 4px 12px rgba(0, 0, 0, 0.64);

  /* Typography */
  --font-large-title: 48px;
  --font-h1: 38px;
  --font-h2: 28px;
  --font-h3: 20px;
  --font-body1: 16px;
  --font-body2: 12px;
  --font-caption: 12px;
  --font-assistive: 10px;

  --font-weight-large-title: 700;
  --font-weight-h1: 400;
  --font-weight-h2: 400;
  --font-weight-h3: 500;
  --font-weight-body1: 400;
  --font-weight-body1-bold: 700;
  --font-weight-button: 700;
  --font-weight-basic-button: 400;
  --font-weight-body2: 400;
  --font-weight-caption: 400;
  --font-weight-caption-bold: 700;
  --font-weight-assistive: 400;
  --font-weight-assistive-bold: 700;

  --font-family-heading: "Raleway", sans-serif;
  --font-family-body: "Inter", sans-serif;
}

/* Apply typography to tags */
h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-h1);
  font-weight: var(--font-weight-h1);
}

h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-h2);
  font-weight: var(--font-weight-h2);
}

h3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-h3);
  font-weight: var(--font-weight-h3);
}

h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-size: var(--font-body1);
  font-weight: var(--font-weight-body1);
}

p {
  font-family: var(--font-family-body);
  font-size: var(--font-body1);
  font-weight: var(--font-weight-body1);
}

button {
  font-family: var(--font-family-heading);
  font-size: var(--font-body1);
  font-weight: var(--font-weight-button);
}

small,
.caption {
  font-family: var(--font-family-body);
  font-size: var(--font-caption);
  font-weight: var(--font-weight-caption);
}

.assistive-text {
  font-family: var(--font-family-body);
  font-size: var(--font-assistive);
  font-weight: var(--font-weight-assistive);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

#project-gallery .swiper-pagination {
  @apply static!;
}

#project-gallery .swiper-pagination-bullet {
  @apply bg-primary!;
}

.react-tooltip {
  @apply z-99999999999999!;
}
